/** FONTS **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: "bebasneue";
    src: url("../fonts/bebasneue-bold.woff") format("woff");
    font-display: swap;
}/** REGULAR **/

@font-face {
    font-family: "clarence";
    src: url("../fonts/clarencetwo.woff") format("woff");
    font-display: swap;
}/** REGULAR **/